@font-face {
  font-family: CyberpunkWaifus;
  src: url(./CyberpunkWaifus.ttf);
}

html {
	background-color: blue;
}

body {
  font-family: CyberpunkWaifus;
  background-color: black;
  color: white;
  border-style: solid;
  border-color: white;
  border-width: 20px 5px 5px 5px; 
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
}
